
<div class="col-xs-1"></div>
<div class="container cabecera col-xs-6">
    <div class="navegacion row">
      <div class="col-xs-5 titulo text-center">
          <h4 style="color:grey;float:left;" id="titulo">Menús de usuario</h4>
      </div>

    </div>
    </div>
  </div>
<div class="container separador bg-success col-xs-7 col-lg-7" style="opacity:0.3;height:50%;margin-bottom:30px;"></div>

<div class="col-xs-1"></div>
<div class="container col-xs-6">

  <div class="row">
        <div *ngFor="let menu of menus | async;let i = index">
          <a [routerLink]="['/menu', menu._id]" style="display:inline;" ><h4>Menu {{i+1}}</h4></a>
        </div>
  </div>
</div>
