<div class="container cabecera col-xs-7">
  <div class="page-header">
    <div class="titulo col-xs-5">
      <h4>Carro de la compra</h4>
    </div>
    <div class="input-group br col-xs-2">
      <input class="form-control insert"
        type="search"
        name="Añadir"
        placeholder="Añadir..."
        #cadenaTexto>
      <span class="input-group-btn">
          <div class="btn-group dropup">
            <button class="btn btn-success" type="button" (click)="addProducto(cadenaTexto.value)">
              <span class="fa fa-plus" style="color:white;"></span>
      </button>
      </span>
    </div>

  </div>
</div>


<div class="col-md-5">
  <table>

    <tr>
  
    </tr>
  
    <tr *ngFor="let producto of productos">
      <td>
        <a *ngIf="producto.activo"
          class="button btn-xs pull-left "
          role="button"
          (click)="setActivo(producto, false)">
                    <i class="fa fa-square-o">  </i>
                  </a>
        <a *ngIf="!producto.activo"
          class="button btn-xs pull-left "
          role="button"
          (click)="setActivo(producto,true)">
                        <i  class="fa fa-check-square-o">  </i>
                      </a>
      </td>
     
      <td *ngIf="producto.activo == true"
        style="text-decoration:none;">
        {{ producto.nombre }}
      </td>
      <td *ngIf="producto.activo == false"
        style="text-decoration:line-through;">
        {{ producto.nombre }}
      </td>
      <td>(
        <div style="display:inline"
          *ngFor="let plato of producto.platos; let i = index">
          <div style="display:inline"
            *ngIf="i != 0">,</div>
          {{ plato }}
        </div> )
      </td>
      <td style="float:right">
        <a class="button"
          role="button"
          (click)="removeProductoMenu(producto)">
                    <i class="fa fa-trash-o fa-lg">  </i>
                  </a>
      </td>
    </tr>
  </table>

</div>

<div class="col-md-2">
   <!-- <agm-map [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom">
    <agm-marker *ngFor="let marcador of _ms.marcadores "
      [latitude]="marcador.lat"
      [longitude]="marcador.lng"
      [title]="marcador.titulo"
      [markerDraggable]="marcador.draggable">
      <agm-info-window>
        <strong>{{ marcador.titulo }}</strong>
        <p *ngIf="marcador.desc">{{ marcador.desc }}</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>  -->
 
</div>
 