
<div class="col-xs-1"></div>
<div class="container cabecera col-xs-6">
    <div class="navegacion row">
      <div class="col-xs-5 titulo text-center">
          <h4 style="color:grey;float:left;" id="titulo">Recetas de platos</h4>
      </div>
        <div class="col-sm-1 col-xs-1 text-right ">
          <a [routerLink]="['/nuevoPlato']" style="display:inline">
              <i class="fa fa-plus fa-2x"></i>
          </a>
        </div>

    </div>
    </div>
  </div>
<div class="container separador bg-success col-xs-7 col-lg-7" style="opacity:0.3;height:50%;margin-bottom:30px;"></div>

<div class="col-xs-1"></div>
<div class="container col-xs-6">

  <div class="row">
        <div *ngFor="let plato of platos | async">

          <div class="plato col-xs-2">
            <div class="thumbnail">
              <img src="images/{{plato.nombre}}.jpg" class="img-circle">
              <div class="col-xs-7">
                  <a [routerLink]="['/recetaPlato', plato._id]" style="display:inline;" >{{plato.nombre}}</a>
                  <button (click)="removePlato(plato)" hidden-xs title="Nuevo" class="cabecera icon icon-three icon-1x hidden-xs icon-new">
                      <i class="fa fa-trash-o fa-1x"></i></button>
              </div>

            </div>
          </div>
        </div>
  </div>
</div>
