<div class="jumbotron">
  <div *ngIf="usuario"
    class="container">

    <form action="actualizarUsuario()"
      class="form-horizontal">
      <div class="row">

        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Datos personales</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-xs-2">Nombre:</label>
                <div class="col-xs-5">
                  <input style="width:80%;"
                    [(ngModel)]="usuario.nombre"
                    name="nombre">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-2">Apellidos Familia:</label>
                <div class="col-xs-5">
                  <input type="text"
                    style="width:80%;"
                    name="apellidos"
                    [(ngModel)]="usuario.apellidos">
                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-2">Nº personas</label>
                <div class="col-xs-5">
                  <input type="text"
                    style="width:10%;"
                    name="miembros"
                    [(ngModel)]="usuario.miembros">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Datos usuario</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-xs-2">Email:</label>
                <div class="col-xs-5">
                  <input type="text"
                    style="width:80%;"
                    name="email"
                    id="email"
                    [(ngModel)]="usuario.email"
                    placeholder="Email">
                </div>
              </div>
              <div hidden
                class="form-group">
                <label class="col-xs-2">Password:</label>
                <div class="col-xs-5">
                  <input type="text"
                    name="password"
                    id="password"
                    [(ngModel)]="usuario.password"
                    placeholder="Password">
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Gestión de avisos</h3>
            </div>
            <div class="panel-body">
              <div class="radio">
                <label>
                  <input type="radio"
                    name="aviso"
                    [value] = 0
                    id="aviso"
                    [(ngModel)]="usuario.aviso">Semanal</label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio"
                    name="aviso"
                    [value] = 1
                    id="aviso"
                    [(ngModel)]="usuario.aviso">Diario</label>
              </div>
            </div>
          </div>
        </div>


      </div>



      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Preferencias del menú</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-xs-2">Nuevo menú:</label>
            <div class="col-xs-5">
              <select class="selectpicker"
                name="comienzo"
                [(ngModel)]="usuario.comienzo">
                <option>Lunes</option>
                <option>Martes</option>
                <option>Miércoles</option>
                <option>Jueves</option>
                <option>Viernes</option>
                <option>Sábado</option>
                <option>Domingo</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2">Dificultad platos:</label>
            <div class="col-xs-5">
              <select class="selectpicker"
                name="dificultad"
                [(ngModel)]="usuario.dificultad">
                <option>BAJA</option>
                <option>MEDIA</option>
                <option>ALTA</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2">Tiempo elaboración platos:</label>
            <div class="col-xs-5">
              <input type="number"
                style="width:10%;"
                name="tiempo"
                id="tiempo"
                [(ngModel)]="usuario.tiempo">
            </div>
          </div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Gustos familiares</h3>
        </div>
        <div class="panel-body">

          <div *ngFor="let nutriente of nutrientes | async"
            class="row">

            <div class="col-lg-3">

              <div class="form-group">
                <label class="col-xs-2">{{ nutriente._id }}:</label>
                <div class="col-xs-5">
                  <div class="btn-group"
                    role="group"
                    aria-label="...">
                    <button type="button"
                      (click)="cambiarGustos(nutriente._id, 1)"
                      [class.active]="gustoNutriente(nutriente._id, 1)"
                      class="btn btn-default">
                      <i class="fa fa-heart-o"
                        aria-hidden="true"></i>
                    </button>
                    <button type="button"
                      (click)="cambiarGustos(nutriente._id,0)"
                      [class.active]="gustoNutriente(nutriente._id, 0)"
                      class="btn btn-default">
                      <i class="fa fa-thumbs-o-up"
                        aria-hidden="true"></i>
                    </button>
                    <button type="button"
                      (click)="cambiarGustos(nutriente._id,-1)"
                      [class.active]="gustoNutriente(nutriente._id, -1)"
                      class="btn btn-default">
                      <i class="fa fa-thumbs-o-down"
                        aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">


            </div>
          </div>
        </div>
      </div>

      <button type="submit"
        (click)="guardarUsuario()"
        class="btn btn-danger">Guardar</button>

    </form>
  </div>
</div>