<div class="jumbotron">
  <div class="container">
    <form action="actualizarUsuario()"
      class="form-horizontal">
      <div class="row">
        <div class="col-lg-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Datos usuario</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-xs-2">Email:</label>
                <div class="col-xs-5">
                  <input type="text"
                    name="email"
                    id="email"
                    [(ngModel)]="usuario.email"
                    placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-2">Password:</label>
                <div class="col-xs-5">
                  <input type="text"
                    name="password"
                    id="password"
                    [(ngModel)]="password"
                    placeholder="Password">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Datos personales</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-xs-2">Nombre:</label>
                <div *ngIf="usuario" class="col-xs-5">
                  <input
                    [(ngModel)]="usuario.nombre" name="nombre">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-2">Apellidos Familia:</label>
                <div *ngIf="usuario" class="col-xs-5">
                  <input type="text"
                    name="apellidos"
                    [(ngModel)]="usuario.apellidos">
                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-2">Nº personas</label>
                <div *ngIf="usuario" class="col-xs-5">
                  <input type="text"
                    name="miembros"
                    [(ngModel)]="usuario.miembros">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Preferencias del menú</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-xs-2">Nuevo menú:</label>
            <div class="col-xs-5">
              <select class="selectpicker"
                name="comienzaMenu"
                [(ngModel)]="comienzaMenu">
                    <option>Lunes</option>
                    <option>Martes</option>
                    <option>Miércoles</option>
                    <option>Jueves</option>
                    <option>Viernes</option>
                    <option>Sábado</option>
                    <option>Domingo</option>
                  </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2">Dificultad platos:</label>
            <div class="col-xs-5">
              <select class="selectpicker"
                name="dificultad"
                [(ngModel)]="dificultad"> 
                      <option>Baja</option>
                      <option>Media</option>
                      <option>Alta</option>
                    </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2">Tiempo elaboración platos:</label>
            <div class="col-xs-5">
              <input type="text"
                name="tiempo"
                id="tiempo"
                [(ngModel)]="tiempo">
            </div>
          </div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Gustos familiares</h3>
        </div>
        <div class="panel-body">

          <div *ngFor="let nutriente of nutrientes | async"
            class="row">

            <div class="col-lg-3">

              <div class="form-group">
                <label class="col-xs-2">{{ nutriente._id }}:</label>
                <div class="col-xs-5">
                  <div class="btn-group"
                    role="group"
                    aria-label="...">
                    <button type="button"
                      class="btn btn-default"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                    <button type="button"
                      class="btn btn-default"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                    <button type="button"
                      class="btn btn-default"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">


            </div>
          </div>
        </div>
      </div>

      <button type="submit"
        class="btn btn-danger">Guardar</button>

    </form>
  </div>
</div>