<div class="container cabecera col-xs-7">
  <div class="page-header">
    <div class="titulo col-xs-7">
      <h4 *ngIf="menu">Menú {{menu.numero}} ({{menu.inicio | date:'yMd'}} - {{menu.fin | date:'yMd'}})</h4>
      <button type="button"
        name="button"
        class="btn btn-success"
        (click)="generarMenu()">Generar</button>
    </div>
    <br>
    <br>
  </div>
</div>

<div *ngIf="menu">

  <div class="row">
    <div class="col-sm-1"
      *ngFor="let dia of menu.dieta">
      {{ dia.fecha | date }}
      <h4>Almuerzo</h4>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let plato of dia.almuerzo">

          <div style="height: 150px; width: 100%; background-position: center; background-size: cover;"
          [style.backgroundImage]="'url(' + plato.imagenUrl + ')'"></div>

          <div *ngIf="plato.nombre == undefined">
            <div class="label"
              *ngFor="let alimento of plato.alimentos"
              [style.backgroundColor]="bgColor(alimento)">
              {{ alimento }}
            </div>
        </div>
        
          <div *ngIf="plato.nombre != undefined">
              
            <div><a [routerLink]="['/recetaPlato', plato._id]"
              style="display:inline;">{{plato.nombre}}</a></div>
            <div class="label"
              *ngFor="let alimento of plato.alimentos"
              [style.backgroundColor]="bgColor(alimento)">
              {{ alimento }}
            </div>
          </div>
        </li>
      </ul>
      <h4>Cena</h4>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let plato of dia.cena">

          <div style="height: 150px; width: 100%; background-position: center; background-size: cover;"
          [style.backgroundImage]="'url(' + plato.imagenUrl + ')'">
        </div>

          <div *ngIf="plato.nombre == undefined">
            <div class="label"
              *ngFor="let alimento of plato.alimentos"
              [style.backgroundColor]="bgColor(alimento)">
              {{ alimento }}
            </div>
          </div>
         
          <div *ngIf="plato.nombre != undefined">
              <div><a [routerLink]="['/recetaPlato', plato._id]"
                style="display:inline;">{{plato.nombre}}</a></div>
         
            <div class="label"
              *ngFor="let alimento of plato.alimentos"
              [style.backgroundColor]="bgColor(alimento)">
              {{ alimento }}
            </div>
          </div>



        </li>
      </ul>
    </div>


  </div>

  <div>