<div class="container col-sm-7"
  style="margin-right:100px;">
  <div class="page-header">

    <div class="col-sm-6 titulo">
      <h4>Menú Semanal</h4>
      <!--<button type="button"
        name="button"
        class="btn btn-success"
        (click)="addProductosMenuCarro()">AlCarro</button>-->

    </div>

    <div class="col-xs-1 pull-right">
      <ul class="nav nav-bar nav ">
        <li>
          <a hidden-xs
            title="Generar PDF"
            class="cabecera icon icon-three icon-1x hidden-xs icon-pdf"
            style="float: right;">
            <i class="fa fa-print fa-2x"></i>
          </a>
        </li>
        <li>
          <a [routerLink]="['/carro']"
            title="Carro"
            class="cabecera icon icon-three icon-1x"
            style="float: right;">
            <i class="fa fa-shopping-cart fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
    <br>
    <br>
  </div>
</div>

<div class="menu">
  <div class="row">
    <div *ngFor="let d of dieta">
      <div class="text-center col-md-1">
        <h5>{{setFormatoFecha(d.fecha)}}</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="titulo-tabla col-md-7">
      Almuerzo
    </div>
  </div>



  <div class="row">
    <div *ngFor="let d of dieta; let dia = index">
      <div class="col-md-1">
        <div *ngFor="let p of getPlatosAlmuerzo(dia)"
          class="row">
          <div class="plato">
            <div class="thumbnail">
              <div class="caption">
                <div style="height: 150px; width: 100%; background-position: center; background-size: cover;"
                  [style.backgroundImage]="'url(' + p.imagenUrl + ')'">
                </div>
                <h5>{{p.nombre}}</h5>

                <a class="btn btn-default btn-xs pull-right"
                  data-toggle="modal"
                  (click)="cambiarPlatoModal.show()"
                  role="button">
                  <i class="fa fa-retweet"></i>
                </a>
                <div class="modal fade"
                  bsModal
                  #cambiarPlatoModal="bs-modal"
                  [config]="{backdrop: 'static'}"
                  tabindex="-1"
                  role="dialog">
                  <div class="modal-dialog modal-lg"
                    role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button"
                          class="close"
                          (click)="cambiarPlatoModal.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                          id="myModalLabel">Cambiar plato</h4>
                      </div>
                      <div class="modal-body">
                        <p>{{p.nombre}}</p>


                      </div>
                    </div>
                  </div>
                </div>
                <a class="btn btn-default btn-xs"
                  (click)="setGustoPlato(p,1)"
                  [class.active]="esGustoPlato(p,1)"
                  role="button">
                  <i class="fa fa-heart-o"></i>
                </a>
                <a class="btn btn-default btn-xs"
                  (click)="setGustoPlato(p,0)"
                  [class.active]="esGustoPlato(p,0)"
                  role="button">
                  <i class="fa fa-thumbs-o-up"></i>
                </a>
                <a class="btn btn-default btn-xs"
                  (click)="setGustoPlato(p,-1)"
                  [class.active]="esGustoPlato(p,-1)"
                  role="button">
                  <i class="fa fa-thumbs-o-down"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="titulo-tabla col-md-7">
      Cena
    </div>
  </div>
  <div class="row">
    <div *ngFor="let d of dieta; let dia = index">
      <div class="col-md-1">
        <div *ngFor="let p of getPlatosCena(dia)"
          class="row">
          <div class="plato">
            <div class="thumbnail">
              <div class="caption">
                <div style="height: 150px; width: 100%; background-position: center; background-size: cover;"
                  [style.backgroundImage]="'url(' + p.imagenUrl + ')'">
                </div>
                <h5>{{p.nombre}}</h5>

                <a class="btn btn-default btn-xs pull-right"
                  data-toggle="modal"
                  (click)="cambiarPlatoModal.show();getPlatosAlternativos(p)"
                  role="button">
                  <i class="fa fa-retweet"></i>
                </a>


                <div class="modal fade"
                  bsModal
                  #cambiarPlatoModal="bs-modal"
                  tabindex="-1"
                  role="dialog">
                  <div class="modal-dialog modal-lg"
                    role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button"
                          class="close"
                          (click)="cambiarPlatoModal.hide();clearDialog();">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                          id="myModalLabel">Cambiar plato</h4>
                      </div>
                      <div class="modal-body">

                        <h5 style="display:inline;">Plato: </h5> {{p.nombre}}

                        <h5>Motivo:</h5>

                        <div class="btn-group">

                          <button type="button"
                            class="btn btn-default" (click)="setMotivo(1);show = false;" [class.active]= "esMotivo(1)" >No me apetece</button>

                          <button type="button"
                            class="btn btn-default" (click)="setMotivo(-1);show = false;" [class.active]="esMotivo(-1)">No me gusta el plato</button>

                          <button type="button"
                            class="btn btn-default" (click)="setMotivo(0);show = true;" [class.active]="esMotivo(0)">No me gusta alguno de los ingredientes</button>
                           

                        </div>

                        <div *ngIf="show">
                          <h5>Ingredientes:</h5>
                          <div class="btn-group" *ngFor="let ing of p.ingredientes">

                            <label for="default" class="btn btn-default" >{{ing.nombre}} <input type="checkbox" id="default" class="badgebox" (change)="setMotivoIngredientes(ing)"></label>
                          </div>

                       
                        </div>

                        <h5>Alternativas:</h5>

                        <div class="row">
                          <div class="col-md-2"
                            *ngFor="let pAlternativo of alternativas">
                            <button class="thumbnail" (click)="setPlatoSeleccionado(pAlternativo)" [class.active]="esPlatoSeleccionado(pAlternativo)" role="button">
                              <div class="caption">
                                <div style="height: 200px; width:210px; background-position: center; background-size: cover;"
                                  [style.backgroundImage]="'url(' + pAlternativo.imagenUrl + ')'"></div>
                                {{ pAlternativo.nombre }}
                              </div>
                            </button>
                          </div>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button"
                          class="btn btn-danger" (click)="guardarCambioPlato(dia, 'cena', p)">Guardar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="btn btn-default btn-xs"
                  (click)="setGustoPlato(p,1)"
                  [class.active]="esGustoPlato(p,1)"
                  role="button">
                  <i class="fa fa-heart-o"></i>
                </a>
                <a class="btn btn-default btn-xs"
                  (click)="setGustoPlato(p,0)"
                  [class.active]="esGustoPlato(p,0)"
                  role="button">
                  <i class="fa fa-thumbs-o-up"></i>
                </a>
                <a class="btn btn-default btn-xs"
                  (click)="setGustoPlato(p,-1)"
                  [class.active]="esGustoPlato(p,-1)"
                  role="button">
                  <i class="fa fa-thumbs-o-down"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>