<div class="container col-sm-7"
  style="margin-right:100px;">
  <div class="page-header">

    <div class="col-sm-6 titulo">
      <h4>Menú Semanal</h4>
      <!--<button type="button"
        name="button"
        class="btn btn-success"
        (click)="addProductosMenuCarro()">AlCarro</button>-->

    </div>

    <div class="col-xs-1 pull-right">
      <ul class="nav nav-bar nav ">
        <li>
          <a hidden-xs
            title="Generar PDF"
            class="cabecera icon icon-three icon-1x hidden-xs icon-pdf"
            style="float: right;">
              <i class="fa fa-print fa-2x"></i></a>
        </li>
        <li>
          <a [routerLink]="['/carro']"
            title="Carro"
            class="cabecera icon icon-three icon-1x"
            style="float: right;">
              <i class="fa fa-shopping-cart fa-2x"></i></a>
        </li>
      </ul>
    </div>
    <br><br>
  </div>
</div>

<div class="menu">
  <div class="row">
    <div *ngFor="let d of dieta">
      <div class="text-center col-md-1">
        <h5>{{setFormatoFecha(d.fecha)}}</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="titulo-tabla col-md-7">
      Almuerzo
    </div>
  </div>



  <div class="row">
    <div *ngFor="let d of dieta; let dia = index">
      <div class="col-md-1">
        <div *ngFor="let p of getPlatosAlmuerzo(dia)"
          class="row">
          <div class="plato">
            <div class="thumbnail">
              <div class="caption">
                <div style="height: 150px; width: 100%; background-position: center; background-size: cover;"
                  [style.backgroundImage]="'url(' + p.imagenUrl + ')'">
                </div>
                <h5>{{p.nombre}}</h5>

                <a class="btn btn-default btn-xs pull-right"
                  data-toggle="modal"
                  (click)="staticModal.show()"
                  role="button">
                        <i class="fa fa-retweet"></i>
                      </a>
                <div class="modal fade"
                  bsModal
                  #staticModal="bs-modal"
                  [config]="{backdrop: 'static'}"
                  tabindex="-1"
                  role="dialog">
                  <div class="modal-dialog"
                    role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button"
                          class="close"
                          (click)="staticModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
                        <h4 class="modal-title"
                          id="myModalLabel">Cambiar plato</h4>
                      </div>
                      <div class="modal-body">
                        <p>{{p.nombre}}</p>


                      </div>
                    </div>
                  </div>
                </div>
                <a class="btn btn-default btn-xs"
                  (click)="setGustoPlato(p,1)"
                  [class.active]="esGustoPlato(p,1)"
                  role="button"><i class="fa fa-heart-o"></i></a>
                <a class="btn btn-default btn-xs"
                  (click)="setGustoPlato(p,0)"
                  [class.active]="esGustoPlato(p,0)"
                  role="button"><i class="fa fa-thumbs-o-up"></i></a>
                <a class="btn btn-default btn-xs"
                  (click)="setGustoPlato(p,-1)"
                  [class.active]="esGustoPlato(p,-1)"
                  role="button"><i class="fa fa-thumbs-o-down"></i></a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="titulo-tabla col-md-7">
      Cena
    </div>
  </div>
  <div class="row">
    <div *ngFor="let d of dieta; let dia = index">
      <div class="col-md-1">
        <div *ngFor="let p of getPlatosCena(dia)"
          class="row">
          <div class="plato">
            <div class="thumbnail">
              <div class="caption">
                <div style="height: 150px; width: 100%; background-position: center; background-size: cover;"
                  [style.backgroundImage]="'url(' + p.imagenUrl + ')'">
                </div>
                <h5>{{p.nombre}}</h5>

                <a class="btn btn-default btn-xs pull-right"
                  data-toggle="modal"
                  (click)="staticModal.show()"
                  role="button">
                                        <i class="fa fa-retweet"></i>
                                      </a>


                <div class="modal fade"
                  bsModal
                  #staticModal="bs-modal"
                  [config]="{backdrop: 'static'}"
                  tabindex="-1"
                  role="dialog">
                  <div class="modal-dialog"
                    role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button"
                          class="close"
                          (click)="staticModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
                        <h4 class="modal-title"
                          id="myModalLabel">Cambiar plato</h4>
                      </div>
                      <div class="modal-body">
                        <p>{{p.nombre}}</p>

                      </div>
                    </div>
                  </div>
                </div>
                <a class="btn btn-default btn-xs"
                  (click)="setGustoPlato(p,1)"
                  [class.active]="esGustoPlato(p,1)"
                  role="button"><i class="fa fa-heart-o"></i></a>
                <a class="btn btn-default btn-xs"
                  (click)="setGustoPlato(p,0)"
                  [class.active]="esGustoPlato(p,0)"
                  role="button"><i class="fa fa-thumbs-o-up"></i></a>
                <a class="btn btn-default btn-xs"
                  (click)="setGustoPlato(p,-1)"
                  [class.active]="esGustoPlato(p,-1)"
                  role="button"><i class="fa fa-thumbs-o-down"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog"
    role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"
          id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button"
          class="btn btn-default"
          data-dismiss="modal">Close</button>
        <button type="button"
          class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>