<div class="container cabecera col-xs-7">
  <div class="page-header">
    <div class="titulo col-xs-7">
      <h4 *ngIf="menu">Menú {{menu.numero}} ({{menu.inicio | date:'yMd'}} - {{menu.fin | date:'yMd'}})</h4>
      <button type="button"
        name="button"
        class="btn btn-success"
        (click)="generarMenu()">Generar</button>
    </div>
    <br>
    <br>
  </div>
</div>

<div *ngIf="menu">

  <div class="row">
    <div class="col-sm-1"
      *ngFor="let dia of menu.dieta">
      {{ dia.fecha | date }}
      <h4>Almuerzo</h4>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let plato of dia.almuerzo">

          <div *ngIf="plato.nombre == undefined">
            <h4>?</h4>
            <div class="label"
              *ngFor="let nutriente of plato.nutrientes"
              [style.backgroundColor]="bgColor(nutriente)">
              {{ nutriente }}
            </div>
          </div>

          <div *ngIf="plato.nombre != undefined">
            <div>{{ plato.nombre }}</div>
            <div class="label"
              *ngFor="let nutriente of plato.nutrientes"
              [style.backgroundColor]="bgColor(nutriente)">
              {{ nutriente }}
            </div>
            <span class="label"
              style="background-color:white;color:black">{{plato.tipos}}</span>
            <span class="label"
              style="background-color:white;color:black">{{plato.momentos}}</span>
          </div>
        </li>
      </ul>
      <h4>Cena</h4>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let plato of dia.cena">

          <div *ngIf="plato.nombre == undefined">
            <h4>?</h4>
            <div class="label"
              *ngFor="let nutriente of plato.nutrientes"
              [style.backgroundColor]="bgColor(nutriente)">
              {{ nutriente }}
            </div>
          </div>

          <div *ngIf="plato.nombre != undefined">
            <div>{{ plato.nombre }}</div>
            <div class="label"
              *ngFor="let nutriente of plato.nutrientes"
              [style.backgroundColor]="bgColor(nutriente)">
              {{ nutriente }}
            </div>
            <span class="label"
              style="background-color:white;color:black">{{plato.tipos}}</span>
            <span class="label"
              style="background-color:white;color:black">{{plato.momentos}}</span>
          </div>



        </li>
      </ul>
    </div>


  </div>

  <div>